<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>EclipseDistributionChannel</key>
	<string>$(ECLIPSE_DISTRIBUTION_CHANNEL)</string>
	<key>EclipseReleaseVersion</key>
	<string>$(ECLIPSE_RELEASE_VERSION)</string>
	<key>EclipseSourceRevision</key>
	<string>$(ECLIPSE_SOURCE_REVISION)</string>
	<key>EclipseMPVKitSourceRevision</key>
	<string>$(ECLIPSE_MPVKIT_SOURCE_REVISION)</string>
	<key>AnimeScheduleAPIToken</key>
	<string>$(ANIMESCHEDULE_API_TOKEN)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.Eclipse.Soupy.oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>luna</string>
				<string>com.googleusercontent.apps.871649357486-168i49j7ouc70r4t879112h65kmdilit</string>
				<string>msauth.app.Eclipse.Soupy</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Eclipse connects to media add-ons you configure on your local network.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Eclipse can save images you choose, including reader images and media stills, to your photo library.</string>
	<key>TMDBAPIKey</key>
	<string>$(TMDB_API_KEY)</string>
	<key>AniListClientID</key>
	<string>$(ANILIST_CLIENT_ID)</string>
	<key>AniListClientSecret</key>
	<string>$(ANILIST_CLIENT_SECRET)</string>
	<key>AniListRedirectUri</key>
	<string>$(ANILIST_REDIRECT_URI)</string>
	<key>TraktClientID</key>
	<string>$(TRAKT_CLIENT_ID)</string>
	<key>TraktClientSecret</key>
	<string>$(TRAKT_CLIENT_SECRET)</string>
	<key>TraktRedirectUri</key>
	<string>$(TRAKT_REDIRECT_URI)</string>
	<key>MALClientID</key>
	<string>$(MAL_CLIENT_ID)</string>
	<key>MALClientSecret</key>
	<string>$(MAL_CLIENT_SECRET)</string>
	<key>MALRedirectUri</key>
	<string>$(MAL_REDIRECT_URI)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>Eclipse</string>
	<key>CFBundleDisplayName</key>
	<string>Eclipse</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.entertainment</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.matroska.mkv</string>
			<key>UTTypeDescription</key>
			<string>Matroska Video</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.movie</string><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>mkv</string></array>
				<key>public.mime-type</key>
				<string>video/x-matroska</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeDescription</key>
			<string>WebM Video</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.movie</string><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>webm</string></array>
				<key>public.mime-type</key>
				<string>video/webm</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.movie</string>
				<string>org.matroska.mkv</string>
				<string>org.webmproject.webm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Subtitles</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>srt</string>
				<string>vtt</string>
				<string>ass</string>
				<string>ssa</string>
				<string>sub</string>
				<string>idx</string>
				<string>sup</string>
				<string>smi</string>
				<string>mks</string>
				<string>dfxp</string>
				<string>ttml</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
